@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="video-fundo">
        <source src="~/videos/Dimensao.mp4" type="video/mp4" />
    </video>

    <div class="container text-center text-warning">
        <h1>Sistema de Dimensão</h1>
        <p>
            <button class="btn btn-outline-primary">Saiba Mais...</button>
        </p>

    </div>

    
</header>