@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/home.css" rel="stylesheet" />

<header>
    <video autoplay muted loop class="video-fundo">
        <source src="~/videos/Dimensao.mp4" type="video/mp4" />
    </video>

    <div class="container text-center text-index  ">
        <h1 class="border rounded-pill bg-white ">Sistema de Dimensão</h1>
        <p class=" pt-4">
            <button class="btn btn-outline-info">Saiba Mais...</button>
        </p>

    </div>

    
</header>