@model MeuProjeto.Models.Usuario;


<link href="~/css/login.css" rel="stylesheet" />

<h1 class="login-title p-3 ">Login</h1>

<form asp-action="Login" method="post" class="login-form p-5">
    <div class="form-group">
        <label class="text">Email:</label>
        <input type="email" name="email" required  class="form-control"/>
    </div>
    <div class="form-group">
        <label class="text">Senha:</label>
        <input type="password" name="senha" required class="form-control"  />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
